body {
  background-color: #3DE3E3;
  font: oblique bold 120% cursive;
  margin: 10px;
}
#passi, #useri{
     border-radius: 5px;
     border: 1px solid #39c;
}
#btm{
  background-color: #e7e7e7;
  color:  #555555;
  font-size: 12px;
  padding: 14px 40px;
  border-radius: 12px;
  border: 2px solid #CC2D00;
  transition-duration: 0.4s;
}
#btm:hover{
  background-color: #555555;
  color: #e7e7e7;
}
